.app {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/bg.png");
  background-size: cover;
  display: grid;
  grid-template-rows:
    5fr
    [title-row-start] 10fr [title-row-end] 8fr /* Title */
    [add-row-start] 5fr [add-row-end] 2fr /* Add button */
    repeat(10, 5fr 2fr); /* Space for 10 teams */
  grid-template-columns:
    6fr
    3fr 2fr /* Delete/Add */
    18fr 2fr /* Team name */
    5fr 2fr /* Colour select */
    12fr /* Mouse registration */
    28fr /* Empty space */
    14fr 6fr; /* Start button */
}

.mainTitle {
  font-size: 6vh;
  grid-row: title-row-start/title-row-end;
  grid-column: 2 / span 6;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Arvo";
}
