.app {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/bg.png");
  background-size: cover;
  display: grid;
  /* xfr == minmax(auto, xfr), which allows content to change row size. Prevent this*/
  grid-template-rows:
    minmax(0, 5fr)
    [title-row-start] minmax(0, 10fr) [title-row-end] minmax(0, 8fr) /* Title */
    [add-row-start] minmax(0, 5fr) [add-row-end] minmax(0, 2fr) /* Add button */
    repeat(
      10,
      minmax(0, 5fr) minmax(0, 2fr)
    ); /* Space for 8 teams + start button + spacer */
  grid-template-columns:
    6fr
    3fr 2fr /* Delete/Add */
    22fr 2fr /* Team name */
    20fr 2fr /* Colour select */
    12fr /* Mouse registration */
    11fr /* Empty space */
    14fr /* Start button */
    6fr;
}

.mainTitle {
  font-size: 6vh;
  grid-row: title-row-start/title-row-end;
  grid-column: 2 / span 6;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Arvo";
}
