.app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/bg.png");
  background-size: cover;
  display: grid;
  /* xfr == minmax(auto, xfr), which allows content to change row size. Prevent this*/
  grid-template-rows:
    minmax(0, 5fr)
    [row-title-start] minmax(0, 10fr) [row-title-end] minmax(0, 8fr) /* Title */
    [row-add-start] minmax(0, 5fr) [row-add-end] minmax(0, 2fr) /* Add button */
    repeat(
      10,
      minmax(0, 5fr) minmax(0, 2fr)
    ); /* Space for 8 teams + start button + spacer */
  grid-template-columns:
    6fr
    [col-del-add-start] 3fr [col-del-add-end] 2fr /* 11 */
    [col-teamname-start] 16fr [col-teamname-end] 2fr /* 29 */
    [col-colorsel-start] 20fr [col-colorsel-end] 2fr /* 51 */
    [col-buzzersel-start] 8fr [col-buzzersel-end] /* Buzzer select 59 */
    3fr [col-divider] 3fr /* Empty space 63 */
    [col-buzzers-start] 13fr [col-buzzers-end] 4fr /* 80 */
    [col-startbtn-start] 12fr [col-startbtn-end] /* 94 */
    6fr;
}

.mainTitle {
  font-size: 6vh;
  grid-row: row-title-start/row-title-end;
  grid-column: 2 / span 6;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Arvo";
}

@keyframes wiggleAnimation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.wiggle {
  animation: wiggleAnimation 1s ease;
}
