/* https://ant.design/docs/react/compatible-style#tailwindcss-arrange-layer */
@layer tailwind-base, antd;
@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arvo';
  src:
    local(''),
    url('/fonts/Arvo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pong Score';
  src:
    local(''),
    url('/fonts/pong-score-extended.ttf') format('truetype');
}

@font-face {
  font-family: 'Sharkartoon';
  src:
    local(''),
    url('/fonts/Sharkartoon.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.picker-color-unselected:hover {
  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.5);
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  10% {
    transform: translate(-50%, -50%) rotate(12deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-12deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  70% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  90% {
    transform: translate(-50%, -50%) rotate(3deg);
  }
}

/* Doesn't loop nicely so animation time should sync with stun timer */
.stunned {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
